* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  font-size: 18px;
  font-family: "Comfortaa";
  background-color: #ededed;
}

.navbar {
  display: grid;
  grid-template-areas: "logo navlist";
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
  padding: 30px;
  margin: 0 300px;
}

.navbar .logo {
  grid-area: logo;
  /* margin-left: -50px; */
  justify-self: flex-start;
}

.logo a {
  font-family: "Micro 5";
  font-size: 50px;
  text-decoration: none;
  color: #6e07f3;
}

.nav-list {
  grid-area: navlist;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  box-sizing: border-box;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  color: #6e07f3;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #6e07f3;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Hero Section */

/* .header {
  height: 100vh;
} */

.header .hero {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5;
  place-items: center;
}

.hero-body {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.hero-body h1 {
  font-size: 45px;
  margin-top: 50px;
}

.hero-body h2 {
  font-size: 36px;
}

.hero-body h1,
.hero-body h2 {
  margin-bottom: 20px;
}

.hero figure img {
  width: 200px;
  margin-top: 60px;
  margin-bottom: 130px;
  box-sizing: border-box;
}

.hero-foot {
  /* margin-bottom: -21.5em; */
  padding: 0rem 1.5rem;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.hero-foot img.is-bottom {
  margin-bottom: -0.4rem;
}

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.container .inti {
  display: flex;
  background-color: #6e07f3;
  color: #fff;
  padding: 100px;
  padding-bottom: 200px;
  box-sizing: border-box;
  align-items: center;
  text-align: justify;
}

.bungkus {
  display: grid;
  grid-template-areas: "ringkasan pengalaman" "pendidikan pengalaman";
  gap: 10px;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.ringkasan {
  grid-area: ringkasan;
}

.pendidikan {
  grid-area: pendidikan;
}

.pengalaman {
  grid-area: pengalaman;
}

.organisasi ul,
.magang ul {
  padding: 30px;
}

.card {
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 36px;
}

.card h4 {
  font-size: 20px;
}

.card p,
.card ul {
  font-size: 18px;
}

/* Skill */
.container .skil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  background-color: white;
  margin: 300px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  margin-top: -150px;
}

.kartu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  gap: 50px;
}

.kartu h3 {
  font-size: 1.5rem;
}

.kartu img {
  width: 100px;
}

.accounting {
  border-right: 0.1px solid rgba(0, 0, 0, 0.1);
}

.kartu h4 {
  color: #6e07f3;
}

/* Proyek */
.proyek h2 {
  text-align: center;
  margin: 30px;
  margin-top: 70px;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
  padding: 50px;
  box-sizing: border-box;
  place-items: center;
}

.pro {
  display: grid;
  padding: 100px;
  box-sizing: border-box;
  place-items: center;
  width: 400px;
  height: 300px;
}

.pro img {
  border-radius: 20px;
  position: absolute;
  width: 400px;
  height: 300px;
}

.pro:hover {
  opacity: 50%;
}

.kontak {
  display: grid;
  justify-content: center;
}

.kontak svg {
  width: 100px;
  margin: 20px;
}

.kontak a {
  color: #6e07f3;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #6e07f3;
  color: white;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Breakpoint */
@media (max-width: 1290px) {
  .navbar {
    margin: 30px;
  }

  .container .skil {
    margin: 30px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 879px) {
  .bungkus {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .navbar {
    order: -1;
    justify-items: end;
  }

  .nav-list a {
    text-decoration: none;
    color: white;
  }

  .menu-toggle {
    display: flex;
  }
  .navbar ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #6e07f3;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }

  .navbar ul.slide {
    opacity: 1;
    transform: translateY(0);
  }

  .container .inti {
    padding: 30px;
    padding-bottom: 200px;
  }

  .container .skil {
    display: block;
    margin: 30px;
    margin-top: -150px;
  }

  .accounting {
    border-right: none;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 600px) {
  .hero-body h1,
  .hero-body h2 {
    font-size: 1.5em;
  }

  .container .skil {
    display: block;
    margin: 30px;
    margin-top: -150px;
  }
}

@media screen and (min-width: 768px) {
  .hero-foot img {
    margin-bottom: -0.45rem;
    max-width: 860px;
  }

  .icon {
    display: flex;
  }

  .kontak {
    padding: 100px;
  }

  .kontak h3 {
    margin-bottom: 20px;
    justify-self: center;
  }
}

@media (min-width: 950px) {
  .box {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
